numpy==1.26.4
scipy==1.13.0
pandas==1.5.3
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
jupyter
ipython==8.21.0
black==24.3.0
requests==2.31.0
tqdm==4.65.0
statsmodels==0.14.0
networkx==3.2.1
h5py==3.10.0
xarray==2024.2.0
torch==2.2.0
transformers==4.37.2
pymc==5.11.0
arviz==0.17.1
scikit-allel==1.3.6
